<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ocl -->
      <package
            uri="http://www.example.org/ocl/dm"
            class="org.vgu.se.ocl.dm.DMPackage"
            genModel="model/ocl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ocl -->
      <package
            uri="http://www.example.org/ocl/exp"
            class="org.vgu.se.ocl.exp.EXPPackage"
            genModel="model/ocl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ocl -->
      <package
            uri="http://www.example.org/ocl/type"
            class="org.vgu.se.ocl.type.TYPEPackage"
            genModel="model/ocl.genmodel"/>
   </extension>

</plugin>
