<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ocl -->
      <package
            uri="http://www.example.org/ocl/dm"
            class="ocl.dm.DmPackage"
            genModel="metamodels/ocl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ocl -->
      <package
            uri="http://www.example.org/ocl/exp"
            class="ocl.exp.ExpPackage"
            genModel="metamodels/ocl.genmodel"/>
   </extension>

</plugin>
